<h2>User info</h2>
<!-- エラーがある場合は、出力 -->
<% if @user.errors.any? %>
	<div class="text-danger">
		<h3><%= @user.errors.count %> error prohibited this obj from being saved:</h3>
    	<ul>
      	<% @user.errors.full_messages.each do |message| %>
        	<li><%= message %></li>
      	<% end %>
    	</ul>
	</div>
<% end %>

<%= form_for(@user) do |f| %>
	<%= f.label :name %>
	<p><%= f.text_field :name %></p>

	<!-- 画像投稿機能 指定するフィールド名には,profile_image_idから_idを除いた名前にする。  -->
	<%= f.label "Image" %>
	<p><%= f.attachment_field :profile_image %></p>

	<%= f.label :introduction %>
	<p><%= f.text_area :introduction  %></p>
	
	<p><%= f.submit "Update User" %></p>

	<div class="container">
		<div class="row">
			<div class="col-xs-3 col-xs-offset-9">
				<p>CopyRight Infratop.inc</p>
			</div>
		</div>
	</div>
<% end %>
