<div class="container">

	<!-- 新規登録時、ログイン時にメッセージを表示 -->

	<div class="row">
		<!-- User info部分 -->
		<div class="col-xs-3">
			<h2>User info</h2>
			<!-- 仮で実装（後で直す） -->
			<!-- <%= image_tag 'no_image.jpg'%> -->

			<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: "jpeg", fallback: "no_image.jpg" %>

			<table class="table">
				<tbody>
					<tr></tr>
					<tr>
						<th>name</th>
						<th><%= @user.name %></th>
					</tr>
					<tr>
						<th>introduction</th>
						<th><%= @user.introduction %></th>
					</tr>
				</tbody>
			</table>

			<div class="row">
				<!-- 仮置き -->
				<%= link_to edit_user_path(@user.id), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" do %>
				<% end %>
			</div>

			<h2>New book</h2>

			<!-- 新規投稿部分 -->
			<%= form_for(@book) do |f| %>
				<div class="field row">
					<p><%= f.label :title %></p>
					<%= f.text_field :title, class: "col-xs-12" %>
				</div>

				<div class="field row">
					<p><%= f.label :opinion %></p>
					<%= f.text_area :body, class: "col-xs-12" %>
				</div>

				<div class="row">
					<p><%= f.submit "Create Book", class: "col-xs-12 btn btn-primary" %></p>
				</div>
				

				
			<% end %>


		</div>

		<!-- Books部分 -->
		<div class="col-xs-9">
			<h2>Books</h2>

			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th>Title</th>
						<th>Opinion</th>
						<th colspan="3"></th>
					</tr>
				</thead>

				<tbody>
					<!-- each文は何かしらbook変数を定義してあげないとエラーになる。 -->
					<% @books.each do |book| %>
						<tr>
							<!-- 仮で実装（後で直す） -->
							<th><%= image_tag 'no_image.jpg'%></th>

							<th><%= book.title %></th>
							<th><%= book.body %></th>

						</tr>
					<% end %>

				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="container">
		<div class="row">
			<div class="col-xs-3 col-xs-offset-9">
				<p>CopyRight Infratop.inc</p>
			</div>
		</div>
	</div>
