<div class="profile-container">
	<h3 class="profile-name"><%= @user.name %></h3>
	<!-- attachment_image_tagの右の@user部分に、画像を格納しているカラムを持つインスタンスを入れる。 -->
	<!-- :profile_imageの部分では、画像が格納されているカラムを指定する。 -->
	<!-- 正確には、profile_image_idだが、refileの仕様で_idを省くので、profile_imageで指定する。 -->
	<!-- 引数 :fill 縦横のサイズをpxで指定する。 -->
	<!-- 引数 :format 画像の拡張子指定  -->
	<!-- 引数 :fallback 画像データがカラムにない場合に表示される画像 -->
	<%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
	<% if @user.id == current_user.id %>
		<p><%= link_to "プロフィール編集", edit_user_path(@user), class: "pull-right" %></p>
	<% end %>
</div>

<section class="sct-color-1 slice">
  <div class="container-fluid masonry-container">
    <div class="row">
      <div class="col-md-8 col-sm-offset-2">
        <div class="masonry-wrapper-cols">
        	<% @post_images.each do |post_image| %>
	            <div class="masonry-block">
	              <div class="block block-image v1">

	                <div class="block-image">
	                  <div class="view view-first">
	                    <%= link_to post_image_path(post_image.id) do %>
	                      <!-- attachment_image_tagはrefileで用意されている<img>タグを作成してくれるヘルパー。post_imageモデルの中のimage_idから保存された画像のimgタグを生成する。 -->
	                      <%= attachment_image_tag post_image, :image %>
	                    <% end %>
	                  </div>
	                </div>

	                <div class="block-content">
	                  <%= image_tag('sample-author1.jpg', class: "img-circle pull-left profile-thumb") %>
	                  <h3 class="block-title">
	                    <%= link_to post_image_path(post_image.id) do %>
	                      <i class="fa fa-map-marker"></i><%= post_image.shop_name %>
	                    <% end %>
	                  </h3>
	                  <p><%= post_image.caption %></p>
	                  <ul class="inline-meta">
	                    <li>By
	                      <!-- user_idに関連ついたuserモデルのnameカラムを表示 -->
	                      <%= post_image.user.name %>
	                    </li>
	                    <li>
	                      <%= link_to "#{post_image.post_comments.count} コメント", post_image_path(post_image.id) %>
	                    </li>
	                  </ul>
	                </div>
	              </div>
	            </div>
          <% end %>

          <!-- ページング機能の実装 -->
          <%= paginate @post_images, class: "paginate" %>

        </div>
      </div>
    </div>
  </div>
</section>
