<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-10">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample7">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand active">
                  Bookers
                </a>
              </div>
            
            <div class="collapse navbar-collapse" id="navbarEexample7">
              <ul class="nav navbar-nav navbar-right">
                <li><%= link_to " Home", root_path, class: "glyphicon glyphicon-home" %></li>
                <li><%= link_to " About", home_about_path, class: "glyphicon glyphicon-link" %></li>
                <li><%= link_to " sign up",new_user_registration_path, class: "glyphicon glyphicon-edit" %></li>
                <li><%= link_to " login", new_user_session_path, class: "glyphicon glyphicon-log-in" %></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-1"></div>
        </div>

      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <%= yield %>
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </body>
</html>
