<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h1>Editing Book</h1>

			<!-- エラーがある場合は、出力 -->
			<% if @book.errors.any? %>
				<div class="text-danger">
					<h3><%= @book.errors.count %> error prohibited this obj from being saved:</h3>
			    	<ul>
			      	<% @book.errors.full_messages.each do |message| %>
			        	<li><%= message %></li>
			      	<% end %>
			    	</ul>
				</div>
			<% end %>

			<%= form_for(@book) do |f| %>
				<div class="field row">
					<p><%= f.label :title %></p>
					<%= f.text_field :title, class: "col-xs-12" %>
				</div>

				<div class="field row">
					<p><%= f.label :opinion %></p>
					<%= f.text_area :body, class: "col-xs-12" %>
				</div>

				<div class="row">
					<p><%= f.submit "Update Book", class: "col-xs-12 btn btn-primary" %></p>
				</div>
				
			<% end %>

			<%= link_to "Show", book_path(@book.id) %>
			<a> | </a>
			<!-- book一覧ができるまでの仮実装 -->
			<%= link_to "Back", books_path %>


		</div>

		<div class="col-md-3">
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-3 col-xs-offset-9">
			<p>CopyRight Infratop.inc</p>
		</div>
	</div>
</div>