<div class="edit-page">
	<h1>Editing Book</h1>

	<%= form_for(@book) do |f| %>
		
		<div class="edit-field">
			<p>Title</p>
			<%= f.text_field :title, class: "book_title" %>
		</div>

		<div class="edit-field">
			<p>Body</p>
			<%= f.text_area :body, class: "book_body" %>
		</div>

		<div class="edit-field">
			<p><%= f.submit 'Update Book' %></p>
		</div>

	<% end %>

	<%= link_to "Show", book_path(@book.id), class: "show_#{@book.id}" %>
	 | 
	<%= link_to "Back", books_path, class: "back" %>

</div>
