<section class="index-page">
	<h1>Books</h1>

	<!--  DBの内容をテーブルに表示 -->
	<table>
		<thead>
			<tr>
				<th>Title</th>
				<th>Body</th>
				<th colspan="3"></th>
			</tr>
		</thead>

		<tbody>
			<% @books.each do |book| %>
				<tr>
					<td><%= book.title %></td>
					<td><%= book.body %></td>
					<td><%= link_to "Show", book_path(book.id),class:"show_#{book.id}" %></td>
					<td><%= link_to "Edit", edit_book_path(book.id),class:"edit_#{book.id}" %></td>
					<td><%= link_to "Destroy", book_path(book.id) ,class:"destroy_#{book.id}",method: :delete%></td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<!--                -->
	<!-- 新規作成機能部分 -->
	<!--                -->
	<h2>New book</h2>
	<%= form_for(@book) do |f| %>
		
		<div class="new-field">
			<p>Title</p>
			<%= f.text_field :title %>
		</div>

		<div class="new-field">
			<p>Body</p>
			<%= f.text_area :body %>
		</div>

		<div class="new-field">
			<p><%= f.submit 'Create Book'%></p>
		</div>

	<% end %>

</section>
